html, body {
  font-family: Merriweather, Georgia, serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  user-select:none;
  text-shadow: 1px 1px 1px rgb(25,25,25);
  color:white;
}
body {
  display:flex;
}
.bakery-info {
  width:100%;
  text-align: center;
}
.title-row {
  width:100%;
  text-align: center;
  margin:none;
  padding:none;
}
.title-row * {
  width:100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}
.bakery-info * {
  background-color: rgba(0,0,0,0.75);
  padding:4px;
}
.big-cookie {
  transition-duration:100ms;
  height: 100%;
  width: 50%;
}

.cookie-column {
  width: 25%;
  max-width:25%;
}

.inventory-column {
  width: 50%;
}
.inventory-row {
  display:flex;
  height: 128px;
  overflow:hidden;
}
.store-column {
  width: 25%;
}
.horizontal-divider {
  height:16px;
  background: url(https://orteil.dashnet.org/cookieclicker/img/panelHorizontal.png);
}
.vertical-divider {
  width:16px;
  background: url(https://orteil.dashnet.org/cookieclicker/img/panelVertical.png);
}
.cookie-column #cookie {
  margin-top: 25vh;
  width: 300px;
}
body {
  background: url(https://orteil.dashnet.org/cookieclicker/img/bgBlue.jpg);
}

.store-row {
  background: url(https://orteil.dashnet.org/cookieclicker/img/storeTile.jpg);
  height: 64px;
  display:flex;
  color:white;
}

.store-row .store-img {
  height:64px;
  width: 64px;
  border: none;
}
.store-info {
  padding-top: 8px;
}
.store-info .price {
  margin:0;
  padding-left:16px;
  font-weight: 600;
  height:16px;
  background: url("img/money.png") no-repeat;
  color:rgb(25,255,25);
}
.store-row.disabled .store-info .price {
  color:red;
}
.store-row .store-info {
  height:16px;
}
.disabled {
  opacity: 50%;
}
.store-info h3 {
  margin:0;
}

.store-row .have {
  flex:1;
  text-align:right;
}

.store-column .upgrade .upgrade-img {
  height:48px;
  width:48px;
}

.column.cookie-column {
  background: url("img/cookieShower1.png");
  animation: cookieShower 5s infinite linear;
}
@keyframes cookieShower {
  0% {
    background-position: 0xp 0px;
  }
  100% {
    background-position: 0px 512px;
  }
}

.store-column .row.title-row {
  height: 48px;
}
.inventory-column .row.title-row {
  height: 96px;
}

